body{
    background-color: rgb(58,76,168);
}
.contain{
    width:100%;
    height:18.7500em;
}
.text{
    text-align: center;
    position:relative;
    width:100%;
    height:18.7500em;
}

.text1{
    position: absolute;
    width:56.2500em;
    height:18.7500em;
    object-fit: contain;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.text2{
    width:40.7500em;
    height:18.7500em;
    object-fit: contain;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.yellow_ment{
    text-align: center;
    font-size: 1.6em;
    color:rgb(233,203,102);
    margin-top:2em;
    font-family: '궁서';
    white-space: nowrap;
}
.lion{
    display:flex;
    position:relative;
    width: 100%;
    margin-top:4em;
    height:10em;
}
.lion_text{
    text-align:center;
    line-height:1.6em;
    color:white;
    font-size:1.2em;
    white-space: nowrap;
}
.colon{
    font-size:100px;
    margin-top:-0.15em;
    color:rgb(116,124,128);
    margin-left: 0.5em;
    margin-right:0.5em;
    
}
.lion_all{
    display: flex;
    position:absolute;
    left:50%;
    transform: translate(-50%,0%);
}
input{
    height:3.2em;
    border:1px solid white;
    border-radius: 0.5em;
    font-size: 0.7em;
    font-weight:bold;
    padding-left:1.5em;
}
.main_text{
    text-align: center;
    font-size:1.5em;
    color:white;
    font-weight:600;
    word-spacing: 0.2em;
    margin-top:1.5em;
}
.checkbox{
    margin-top:6em;
    justify-content: center;
    display:flex;
}
.check{
    width: 32rem;
    height: 3rem;
    align-items: center;
    border-radius: 3em;
    background-color: rgb(252,238,33);
    font-size: 1.2rem;
    font-weight:900;
    color: rgb(58,76,168);
}
.check:hover{
    cursor: pointer;
}
.result{
    width:100%;
    height:5rem;
    display: none;
}
.output1{
    font-size : 5rem;
}
.output2{
    font-size: 5rem;
}
.output_box{
    display:flex;
    justify-content: center;
    align-items: center;
}