@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    background-color: rgb(58,76,168);
    position:relative;
    font-family: 'GmarketSansMedium';. 
}
.contain{
    width:100%;
    height:18.7500em;
}
.text{
    text-align: center;
    position:relative;
    width:100%;
    height:18.7500em;
}

.text1{
    position: absolute;
    width:56.2500em;
    height:18.7500em;
    object-fit: contain;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.text2{
    width:40.7500em;
    height:18.7500em;
    object-fit: contain;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.yellow_ment{
    text-align: center;
    font-size: 1.6em;
    color:rgb(233,203,102);
    margin-top:2em;
    font-family: '궁서';
    white-space: nowrap;
}
.lion{
    display:flex;
    position:relative;
    width: 100%;
    margin-top:4em;
    height:10em;
}
.lion_text{
    text-align:center;
    line-height:1.6em;
    color:white;
    font-size:1.2em;
    white-space: nowrap;
}
.colon{
    font-size:100px;
    margin-top:-0.15em;
    color:rgb(116,124,128);
    margin-left: 0.5em;
    margin-right:0.5em;
    
}
.lion_all{
    display: flex;
    position:absolute;
    left:50%;
    transform: translate(-50%,0%);
}
input{
    height:3.2em;
    border:1px solid white;
    border-radius: 0.5em;
    font-size: 0.7em;
    font-weight:bold;
    padding-left:1.5em;
}
.main_text{
    text-align: center;
    font-size:1.5em;
    color:white;
    font-weight:600;
    word-spacing: 0.2em;
    margin-top:1.5em;
}
.checkbox{
    margin-top:6em;
    justify-content: center;
    display:flex;
}
.check{
    width: 32rem;
    height: 3rem;
    align-items: center;
    border-radius: 3em;
    background-color: rgb(252,238,33);
    font-size: 1.2rem;
    font-weight:900;
    color: rgb(58,76,168);
}
.check:hover{
    cursor: pointer;
}
.result{
    width:100%;
    display: none;
}
.output1{
    font-size : 5rem;
}
.output2{
    font-size: 5rem;
}
.output_box{
    display:flex;
    justify-content: center;
    align-items: center;
}

.loading_img {
    animation: rotate_image 1s linear infinite;
    transform-origin: 50% 50%;
    object-fit: contain;
    width:10rem;
    height:10rem;
    margin: auto;
    display: none;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

.gogo{
    width: 20rem;
    height: 2.8rem;
    align-items: center;
    text-align:center;
    border-radius: 3em;
    background-color: rgb(252,238,33);
    font-size: 1.2rem;
    margin-right:1rem;
    font-weight:900;
    color: rgb(58,76,168);
}
.result_foot{
    display:flex;
    justify-content: center;
}
.share{
    display:flex;
    width: 12rem;
    height: 2.8rem;
    justify-content:center;
    align-items: center;
    border-radius: 3em;
    background-color: white;
    font-size: 1.3rem;
    font-weight:900;
    color: rgb(58,76,168);
}
.share:hover{
    cursor: pointer;
}
.popup{
    width:30rem;
    height:30rem;
    border-radius: 1em;
    background-color: white;
    z-index: 3em;
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%);
    display: none;
}
.gogo:hover{
    cursor: pointer;
}
.pop_cont{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:3rem;
}
.cheer_up{
    font-family: 'OTEnjoystoriesBA';
    color:purple;
    font-size: 4rem;
}
.mini_cheer{
    font-family: 'OTEnjoystoriesBA';
    color:purple;
    font-size: 2rem;
    margin-top:-1rem;
}
.logo{
    object-fit: cover;
    width:12rem;
    height:12rem;
}
.real{
    width: 20rem;
    height: 2.2rem;
    align-items: center;
    text-align:center;
    padding-top: 0.5rem;
    margin-top:1.6rem;
    border-radius: 3em;
    background-color: rgb(252,238,33);
    font-size: 1rem;
    margin-right:1rem;
    font-weight:900;
    color: rgb(58,76,168);
    box-shadow: 2px 1px 10px 1px gray;
    font-weight: bold;
}

.real:hover{
    cursor: pointer;
}
footer{
    color:white;
    text-align: center;
    font-size:0.2rem;
    margin-top:2rem;
}